/* I always reset all the html elements */

input:focus{
	border-color: orange;
}
.error{
	color: #f20505;
	display: none;
	font-size: 16px;
}
.body {
    background-color: #ececec;
    position: fixed;
    top: 50%;
    left: 50%;
	border-radius: 8px;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 30px 0;
}
.confirmation-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 30px;
    border: 1px solid #ccc;
}

.popup-content {
    text-align: center;
}

.popup-content button {
    margin: 0 10px;
}

